*.o
*.ali
*.stderr
*.stdout
*.cswi
b__*
alire/
back/
*.tgz
mast_command
mast_results_command
*.lis
*.out
patch_mastada95.diff
svn-commit*
.svn/
mast_analysis/mast_analysis
to_mast2/to_mast2
pt_editor/src/gmast_pt_editor
mast_xml/mast_xml_convert
mast_xml/mast_xml_convert_results
gmast/src/gmast_analysis
gmasteditor/src/gmasteditor
gmastresults/src/gmastresults
examples/test_report
examples/results/
